doctype html
head
    link(rel="stylesheet", href="../stylesheets/main.css")
    //jQuery and Firebase
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
    script(src="../scripts/headerAndFooter.js")
body
    .page-content
        .wrapper
            .post
                header.post-header
                    h1.post-title Economics
                article.post-content
                    .home
                        .post-list
